<div ng-include="'components/navbar/navbar.html'"></div>
<p></p>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <!--<div class=="container-fluid" ></div>-->
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div collapse="isCollapsed"
               class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">

              <!--DYNAMIC FILTERS SELECTORS-->

              <!--SEARCH_TYPE FILTER-->
              <p><b>Searching type:</b></p>
              <select id="search_type-filter" ng-model="query.search_type"
                      ng-options="item.search_type as item.search_type for item in awesomeRealEstates
                      | filter:{type:query.type || undefined}
                      | filter:{address:query.address || undefined}
                      | filter:{broker:query.broker || undefined}
                      | filter:priceRange || undefined
                      | filter:areaRange || undefined
                      | unique:'search_type' || undefined "
                      material-select watch>
                <option value>All</option>
                <option ng-repeat="item in awesomeRealEstates| filter:{search_type:query} || undefined  "></option>
              </select>


              <!--TYPE FILTER-->
              <p><b>Type:</b></p>
              <!--<p class="md-title"></p>-->
              <select id="type-filter" ng-model="query.type"
                      ng-options="item.type as item.type for item in awesomeRealEstates
                      | filter:{search_type:query.search_type || undefined}
                      | filter:{address:query.address || undefined}
                      | filter:{broker:query.broker || undefined}
                      | filter:priceRange
                      | filter:areaRange
                      | unique:'type' "
                      material-select watch>
                <option value>All</option>
                <option ng-repeat="item in awesomeRealEstates | filter:{type:query}"></option>
              </select>


              <!--ADDRESS FILTER-->
              <p><b>Address:</b></p>
              <select id="address-filter" class="" ng-model="query.address"
                      ng-options="item.address as item.address for item in awesomeRealEstates
                      | filter:{search_type:query.search_type || undefined}
                      | filter:{type:query.type || undefined}
                      | filter:{broker:query.broker || undefined}
                      | filter:priceRange
                      | filter:areaRange
                      | unique:'address'"
                      material-select watch>
                <option value>All</option>
                <option ng-repeat="item in awesomeRealEstates | filter:{address:query}"></option>
              </select>


              <!--BROKER FILTER-->
              <p><b>Broker:</b></p>
              <select id="broker-filter" class="" ng-model="query.broker"
                      ng-options="item.broker as item.broker for item in awesomeRealEstates
                      | filter:{search_type:query.search_type || undefined}
                      | filter:{type:query.type || undefined}
                      | filter:{address:query.address || undefined}
                      | filter:priceRange
                      | filter:areaRange
                      | unique:'broker'"
                      material-select watch>
                <option value>All</option>
                <option ng-repeat="item in awesomeRealEstates | filter:{broker:query}"></option>
              </select>


              <!--CLEAR FILTERS-->
              <div class="center-align">
                <a class="waves-effect waves-light btn" ng-click="clearFilter()"><i
                  class="material-icons right">autorenew</i>Clear Filters</a>
              </div>

              <br/>

              <!--SLIDER SURFACE-->
              <b>Area range:</b>
              <angular-ranger min="0" max="250" step="1" min-value="lower_area_bound"
                              max-value="upper_area_bound"></angular-ranger>
              <div id="textbox">
                <p class="alignleft">Min: {{(lower_area_bound | number:0) + " m2"}} </p>

                <p class="alignright">Max: {{(upper_area_bound | number:0) + " m2"}}</p>
              </div>
              <div style="clear: both;"></div>


              <!--SLIDER PRICE-->
              <b>Price range:</b>
              <angular-ranger min="0" max="200000" step="1000" min-value="lower_price_bound"
                              max-value="upper_price_bound"></angular-ranger>

              <div id="textbox2">
                <p class="alignleft">Min: {{(lower_price_bound | number:0) + " €"}} </p>

                <p class="alignright">Max: {{(upper_price_bound | number:0) + " €"}}</p>
              </div>
              <div style="clear: both;"></div>

              <!--RESULTS-->


              <!--<a class="btn" onclick="Materialize.toast('You have '+' results' , 4000)">{{filteredResults.length}} results </a>-->

              <div class="center-align">
                <a class="waves-light btn-large"><i
                  class="material-icons right">done</i>{{filteredResults.length}} results</a>

                <p></p>
              </div>

            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <!--table materialize-->
    <div class="row">
      <div class="col-sm-7">
        <div style="height:700px;overflow:auto;">
          <table class="responsive-table">
            <thead>
              <tr>
                <th data-field="search">Search</th>
                <th data-field="tyoe">Type</th>
                <th data-field="address">Adress</th>
                <th data-field="broker">Broker</th>
                <th data-field="area"><a href="" ng-click='predicate="area"'>Surface(m2)</a></th>
                <th data-field="price"><a href="" ng-click='predicate="price"'>Price(€)</a></th>
                <th>Gallery</th>
              </tr>
            </thead>

            <tbody>
              <tr
                ng-repeat="item in filteredResults =( awesomeRealEstates | orderBy:predicate | filter:query.search_type  || undefined | filter:query.type  || undefined | filter:query.address  || undefined| filter:query.broker  || undefined | filter:priceRange | filter: areaRange)">
                <td>{{item.search_type}}</td>
                <td>{{item.type}}</td>
                <td>{{item.address}}</td>
                <td> {{item.broker}}</td>
                <td> {{item.area}}</td>
                <td> {{item.price}}</td>
                <td><a href="">View Gallery</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>


<!--<script src="../bower_components/angular-animate/angular-animate.js"></script>-->

<!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
<!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">-->
<!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>-->
<!-- Angular Material Dependencies -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>-->

<!--<script src="widget/external_sources/angular-slider/angular-slider.js"></script>-->

<!--<LINK href="widget/widget.css" rel="stylesheet" type="text/css">-->
